* {
    font-family: Helvetica, Arial, sans;
}

code {
    font-family: monospace;
}

pre {
    background-color: #eee;
}

div#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    font-color: white;
}

div#navbar ul {
    list-style-type: none;
    height: 40px;
    margin: 0;
    padding: 0;
}

div#navbar li {
    display: inline-block;
}

div#navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: .5em 1em;
    text-decoration: none;
}

div#navbar li a:hover {
    background-color: #78a;
}

div#main {
    top: 40px;
    position: relative;
    padding: 1em;
}

div#timelines {
    margin: 1em;
    padding: .5em;
}

.summary {
    width: 100%;
}

.summaryChart {
    width: 100%;
}

.note {
    padding: .5em;
}

table.tbl-log {
    border-collapse: collapse;
    border: 1px solid black;
}

table.tbl-log td {
    padding: .3em;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
}


div#notes .note-full {
    padding: 1em;
}

.note-full h3 {
    display: inline-block;
    width: 6%;
    vertical-align: top;
    color: lightgray;
    font-size: 80%;
}

.note-content {
    display: inline-block;
    width: 94%;
    vertical-align: top;
}


.timeline-controls {
    padding-bottom: 12px;
}

.timeline {
    padding: 0 0 32px 0;
}

.timeline-time {
    grid-column: 1/24;
    grid-row: auto/auto;
}

.timeline-time ul {
    position: absolute;
    padding: 8px 0 0 100px;
    margin: 0;
    white-space: nowrap;
    border-bottom: 1px solid #282828;
    list-style: none;
    font-size: 0;
}

.timeline-time ul li {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 100px;
    color: #868686;
    font-size: 11px;
    line-height: 11px;
    text-indent: -12px;
}

.timeline-time ul li:last-child {
    width: 100px;
}

.timeline-flows {
    grid-column: 1/24;
    grid-row: auto/auto;
}

.timeline-flows ul {
    padding: 0 0 0 100px;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
}

.timeline-flows ul li {
    padding-bottom: 8px;
}

.timeline-flows ul h2,
.timeline-flows ul h3,
.timeline-flows ul h4 {
    margin: 0 0 1px 0;
    font-weight: normal;
    font-size: 11px;
}

.timeline-flows ul h2 {
    color: #777;
    text-transform: uppercase;
}

.timeline-flows ul h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.timeline-flows ul h4 {
    color: #fff;
    font-style: italic;
}

.timeline-flows li {
    position: relative;
    display: inline-block;
}

.timeline-events {
    grid-row: auto / auto;
    grid-column: 2/24;
}

.timeline-events ul {
    position: absolute;
    padding: 0 0 0 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
}

.timeline-events ul h2,
.timeline-events ul h3,
.timeline-events ul h4 {
    margin: 0 0 1px 0;
    font-weight: normal;
    font-size: 11px;
}

.timeline-events ul h2 {
    color: #777;
    text-transform: uppercase;
}

.timeline-events ul h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.timeline-events ul h4 {
    color: #fff;
    font-style: italic;
}

.timeline-events ul li {
    position: relative;
    display: inline-block;
}

.timeline-header {
    grid-column: 1/1;
    grid-row: auto/auto;
}

.timeline-header > div h2,
.timeline-header > div h3,
.timeline-header > div h4 {
    margin: 0 0 1px 0;
    font-weight: normal;
    font-size: 14px;
}

.timeline-events ul .timeline-event {
    position: absolute;
    left: 0;
    height: 8px;
    border-radius: 8px;
    width: 100%;
}

.timeline-event {
    opacity: 0.6;
}

.timeline-note {
    cursor: pointer;
}

div [id^='timeline-container-'] {
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(24, 100px);
}

div [id^='notes-'] {
    grid-row: auto / auto;
    grid-column: 2/24;
}

div [id^='notes-'] ul {
    padding: 0 0 4px 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
    height: 16px;
}

div [id^='notes-'] ul li {
    position: relative;
    display: inline-block;
    height: 16px;
}

div [id^='notes-'] ul li div {
    height: 16px;
    position: absolute;
    left: 0;
    width: 100%;
}


div [id^='note-button-'] {
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

div [id^='note-button-'] i {
    vertical-align: middle;
    text-align: center;
}

div [id='note-desc-'] div, h4, p {
    padding-bottom: 8px;
    border-bottom: 1px solid #e9ecef;
}

.c-dialog {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 2.4rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, .75);
    transition: .2s;
}

.c-dialog__box {
    flex: 1;
    max-width: 48rem;
    margin: auto;
    padding: 2.4rem;
    background-color: white;
    border-radius: 12px;
}

.c-dialog__box div[type="button"] {
    cursor: pointer;
    font-size: 18px;
    text-align: end;
    color: #777777;
    text-shadow:
            -0.0075em 0.0075em 0 #ddd,
            0.005em 0.005em 0 #333;
}

.c-dialog[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}