* {
    font-family: Helvetica, Arial, sans;
}

div#navbar {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    font-color: white;
}

div#navbar ul {
  list-style-type: none;
  height: 40px;
  margin: 0;
  padding: 0;
}

div#navbar li {
    display: inline-block;
}

div#navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: .5em 1em;
    text-decoration: none;
}

div#navbar li a:hover {
    background-color: #78a;
}

div#main {
    top: 40px;
    position: relative;
    padding:1em;
}

div#timelines {
    margin: 1em;
    padding: .5em;
}

.summary {
    width:100%;
}

.summaryChart {
    width:100%;
}

.note {
    max-width: 20em;
    padding: .5em;
}

table.tbl-log {
    border-collapse: collapse;
    border: 1px solid black;
}

table.tbl-log td {
    padding: .3em;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
}
