div#navbar {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    font-color: white;
}

div#main {
    padding: 1em;
    margin-top: 30px;
    width: 100%;
}

div#timelines {
    margin: 1em;
    padding: .5em;
}


.timeline {
    height: 100px;
}

.summary {
    width:100%;
}

.summaryChart {
    width:100%;
}

.note {
    max-width: 20em;
    padding: .5em;
}
