{
  "presets": [["@babel/preset-env", {"modules": false}]],

  "plugins": [
     ["@babel/plugin-transform-react-jsx", { "pragma": "dom" }]
  ],

  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
